
body {
	font-family:  sans-serif;
	font-size:14px;
}

/* Totul este in interiorul acestui div */
#wrapper {
	margin-left: 150px;
	margin-top: -30px;
	padding: 2em;
	width: 1350px;
	height: 110%;
}

#status {
	margin-top: -40px;
	width:100%;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C4C4C4 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C4C4C4 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #C4C4C4 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C4C4C4));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C4C4C4 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #C4C4C4 100%);
	text-align:center;
	font-size:15px;
	font-weight:bold;
}

#status ul {
	list-style-type:none;
}

#status ul li {
	display:inline-block;
	padding-right: 40px;
}

#status ul li span {
	color: #015666;
	font-family:cursive;
	font-size:14px;
}

#status #intreb_corecte { color: #00CC00; }
#status #intreb_gresite { color: #EE0000; }

/* Cerinta si variantele de raspuns */
#intrebare {
	/*border: 1px solid black;*/
	width:80%;
}

/* Cerinta general*/
#cerinta {
    border: 1px solid rgb(127, 127, 127);
    border: 1px solid rgba(127, 127, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border-radius:3px;
	display: inline-block;
	width:100%;
	height: auto;
	padding-left: 11px;
}
#text { float:left; }
#img  {float:right; width: 255px; }

/* Cerinta */
#cerinta h3 { font-size: 21px; font-weight:bold; }
#cerinta h4 { font-size: 18px; font-weight:bold; }

/* Imaginea cerintei */
#cerinta img { margin-left:-105px; margin-top: 5px; width: 350px; height:300px; padding: 2px; border: 1px solid black;}


/* Variantele de raspuns */
#raspunsuri {
	margin-top:0px;
	width: 100%;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 16px;
	border: 1px solid rgb(127, 127, 127);
    border: 1px solid rgba(127, 127, 255, .5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	border-radius:3px;

}

#raspunsuri b {
	font-size: 16px;
	font-family:Arial;
	font-weight: bold;
	margin-top: -10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:28px;
}

#raspunsuri h5 {
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	margin-top: 5px;
}

/* +++ Butoanele +++ */
#butoane {
	width: 100%;
	margin-top:2em;
}
#butoane ul {
	list-style-type: none;
}

#butoane ul li {
	display: inline-block;
	margin: auto;
}

#r_a, #r_b, #r_c {
	
	cursor: pointer; 
	cursor: hand; 
	margin-left: 85px; 
	margin-right: 85px;
	width: 96px;
	height: 80px;
}

.rasp_a { background: url("../images/A_up.jpg") no-repeat; }

.rasp_b { background: url("../images/B_up.jpg") no-repeat; }

.rasp_c { background: url("../images/C_up.jpg") no-repeat; }

.sel_a{ background: url("../images/A_pressed.jpg") no-repeat; }

.sel_b { background: url("../images/B_pressed.jpg") no-repeat; }

.sel_c{ background: url("../images/C_pressed.jpg") no-repeat; }

/* +++ Sfarsit Butoane +++ */


#trimite {
	margin-top: 1em;
	border: 0px;
	font-family: Tahoma, Arial;
	font-size: 18px;
}

#sterg_raspunsul { background: url("../images/but_del.jpg") no-repeat ; }
#mai_tarziu { background: url("../images/but_later.jpg") no-repeat; }
#trimit_raspunsul { background: url("../images/but_trimite.jpg") no-repeat; }

#mai_tarziu, #sterg_raspunsul, #trimit_raspunsul {
	display:inline-block;
	cursor: pointer;
	cursor: hand; 
	text-align: center; 
	margin-left: 70px; 
	width: 211px; 
	height: 62px; 
	color: #000000;
}

#v_a, #v_b, #v_c {
	padding-top:-1px;
	padding-bottom:-1px;
}
.highlight {
	border: 1px solid #DEDEDE;
	border-radius: 4px;
	background-color: #C4C4C4;
	
}

.highlight2 {
	border: 1px solid #DEDEDE;
	border-radius: 4px;
	background-color: #00FFFF;
	
}



