
body {
	font-family: Arial,sans-serif;
	margin: 0;
	background: #f5f5f5;
}

/* Totul este in interiorul acestui div */
#wrapper {
	margin: 15px auto;
	width: 100%;
	text-align: center;
}

#status {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #ccc;
	background: white;
	color: #444;
}

#status div {
	border-left: 1px solid #ccc;
	padding: 20px;
	
}

#status div span {
	display: block;
	text-align: center;
}


#status #intreb_corecte { color: #00CC00; }
#status #intreb_gresite { color: #EE0000; }


/* Cerinta general*/
#cerinta {
	display: inline-block;
	font-size: 25px;
	font-weight: 400;
	color: #555;
	margin: 20px;
}

#timp {
	font-size: 31px;
	padding: 0px 18px;
}


/* Cerinta */
#cerinta h3 { font-size: 21px; font-weight:bold; }


/* Imaginea cerintei */
#cerinta img { margin-left:-105px; margin-top: 5px; width: 350px; height:300px; padding: 2px; border: 1px solid black;}


/* Variantele de raspuns */
#raspunsuri {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#raspunsuri img  { width: 400px; }

#raspunsuri b {
	font-size: 16px;
	font-family:Arial;
	font-weight: bold;
	margin-top: -10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:28px;
}

#raspunsuri h5 {
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	margin-top: 5px;
}

/* +++ Butoanele +++ */
#butoane {
	width: 100%;
	margin-top:2em;
}
#butoane ul {
	list-style-type: none;
}

#butoane ul li {
	display: inline-block;
	margin: auto;
}

#r_a, #r_b, #r_c {
	
	cursor: pointer; 
	cursor: hand; 
	margin-left: 85px; 
	margin-right: 85px;
	width: 96px;
	height: 80px;
}

/* +++ Sfarsit Butoane +++ */


#trimite {
	margin-top: 1em;
	border: 0px;
	font-family: Tahoma, Arial;
	font-size: 18px;
}


#mai_tarziu, #sterg_raspunsul, #trimit_raspunsul {
	display:inline-block;
	cursor: pointer;
	text-align: center; 
	margin-left: 70px; 
	color: #000000;
	border: 1px solid #ccc;
	padding: 20px 55px;
	border-radius: 5px;
	background: white;
	box-shadow: 0px 0px 3px #ddd;
}

#sterg_raspunsul {
	color: #cc0606;
}

#trimit_raspunsul {
	background: #32b732;
	color: white;
}

#raspunsuri div div {
	border: 1px solid #ddd;
	display: flex;
	border-radius: 5px;
	background: white;
	font-size: 16px;
	color: #444;
	width: 600px;
	margin: 15px auto;
	cursor: pointer;
}

#raspunsuri div div strong {
	text-transform: uppercase;
	font-size: 34px;
	display: inline-block;
	padding: 35px 30px;
	background: #ddd;
}

#raspunsuri div div p {
	display: inline-block;
	padding: 25px;
	font-size: 18px;
}

.highlight {
	background-color: #ffdf55 !important;
	box-shadow: inset 0 0 4px #bbb;
}

#raspunsuri div div.highlight strong {
	background: #ecc831;
	box-shadow: inset 0 0 4px #bbb;
} 

.highlight2 {
	background-color: #55ff5d !important;
	box-shadow: inset 0 0 4px #bbb;
}

#raspunsuri div div.highlight2 strong {
	background: #31ec31;
	box-shadow: inset 0 0 4px #bbb;
} 


