body {
	color: #515151;
	background: #eee;
	font-size: 24px;
	text-align: center;
	font-family: Arial,sans-serif;
}

.red_but { background: url("../images/but_del.jpg") no-repeat ; }
.yellow_but { background: url("../images/but_later.jpg") no-repeat; }
.green_but { background: url("../images/but_trimite.jpg") no-repeat; }


.red_but, .yellow_but, .green_but {
	display:inline-block;
	cursor: pointer;
	cursor: hand; 
	text-align: center; 
	margin-left: 70px; 
	width: 211px; 
	height: 62px; 
	color: #000000;
}

.button {
	cursor: pointer; 
	background: #0c6bd0;
	display: inline-block;
	padding: 35px 90px;
	color: white;
	letter-spacing: 4px;
	border-radius: 6px;
}

#wrap {
	width: 600px;
	margin: auto;
	line-height: 35px;
}